.container {
    width: 1059px;
    margin: 0 auto;
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRuy7cUd-8qD50kKe-btTmjLoVuCSaIaa0dhTNdcso_AjpXysF");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.header {
    margin-top: 50px;
}

.header-logo {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url("../img/logo.png");
    float: left;
}


.float-left {
    float: left;
    padding-left: 15px;
    letter-spacing: 1px;
}

.header-direct:hover .header-logo {
    background: url("../img/logohover.png");
    transition: 0.5s;
}

.header-direct:hover .float-left a {
    color: #f26522;
    transition: 0.5s;
}

.header-fr {
    float: right;
}

.header-title-link  {
    display: block;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 29px;
    color: #ffffff;
}


.header-subtitle-link {
    display: block;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

.header-info {
    display: block;
    text-align: right;
    font-size: 18px;
    color: #ffffff;
}

.table-info {
    margin-top: 48px;
    float: left;
}

.table-info-img1 {
    display: block;
    position: relative;
    margin-right: 69px;
    width: 307px;
    height: 200px;
    background-image: url("../img/img1.png");
    overflow: hidden;
}

.table-info-price {
    display:block;
    position:absolute;
    padding: 10px 0 15px 20px;
    width: 100%;
    bottom:-100px;
    background-color: #f26522;
    transition-duration:0.6s;
    color: #fff;
}

.table-info-details {
    margin-left: 140px;
    font-size: 14px;
}

.fs10 {
    font-size: 10px;
}

.fs20 {
    font-size: 20px;
}

.table-info-details::after {
    margin-left: 15px;
    content: ">";
    opacity: 0.8;
}

a.table-info-img1:hover p{
    bottom: 0;
}

.table-info-img2 {
    display: block;
    position: relative;
    margin-right: 69px;
    width: 307px;
    height: 200px;
    background-image: url("../img/img2.png");
    overflow: hidden;
}

a.table-info-img2:hover p{
    bottom: 0;
}

.table-info-img3 {
    display: block;
    position: relative;
    width: 307px;
    height: 200px;
    background-image: url("../img/img3.png");
    overflow: hidden;
}

a.table-info-img3:hover p{
    bottom: 0;
}

.table-info-img4 {
    display: block;
    position: relative;
    margin-right: 69px;
    width: 307px;
    height: 200px;
    background-image: url("../img/img4.png");
    overflow: hidden;
}

a.table-info-img4:hover p{
    bottom: 0;
}

.table-info-img5 {
    display: block;
    position: relative;
    margin-right: 69px;
    width: 307px;
    height: 200px;
    background-image: url("../img/img6.png");
    overflow: hidden;
}

a.table-info-img5:hover p{
    bottom: 0;
}

.table-info-img6 {
    display: block;
    position: relative;
    width: 307px;
    height: 200px;
    background-image: url("../img/img5.png");
    overflow: hidden;
}

a.table-info-img6:hover p{
    bottom: 0;
}

.table-info-text {
    display: block;
    padding: 22px 0 22px 84px;
    font-size: 18px;
    font-family: sans-serif;
    color: #ffffff;
}

.table-info-text:hover {
    color: #f26522;
    transition: 0.6s;
}

.copyright-text {
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    color: #fff;
}

.clearfix {
    clear: both;
}
