@import "fonts.css";

body {
    background-image: url("../img/backgroundimage.png");
    background-repeat: no-repeat;
    background-size: cover ;
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.header-title {
    display: inline-block;
    margin: 20px 735px 20px 150px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.header-title:hover {
    transition: 0.5s;
    color: #3cb878;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../img/icon.png');
}

.icon.icon-calendar {
    background-position: -13px -5px;
}

.icon.icon-calendar:hover {
    background-position: -62px -5px;
}

.icon.icon-forum {
    background-position: -13px -54px;
}

.icon.icon-forum:hover {
    background-position: -71px -54px;
}

.icon.icon-journey {
    background-position: -121px -5px;
    margin-right: 50px;
}

.icon.icon-journey:hover {
    background-position: -121px -55px;
}

.header-text {
    display: inline-block;
    font-size: 14px;
    color: #fff;
}

.header-text-login {
    display: inherit;
    color: #3cb878;
}

.header-text-login:hover {
    cursor: pointer;
    text-decoration: underline;
}

.form {
    position: absolute;
    margin: auto;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 444px;
    height: 610px;
    background-color: #fff;
    border-radius: 3px;
}

.container {
    width: 325px;
    margin: 0 auto;
}

.form-login {
    display: flex;
}

.form-title {
    position: relative;
    margin-top: 30px;
    font-size: 20px;
}

.form-title::before {
    content: '';
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    left: -60px;
    background-color: #3cb878;
}

.form-link {
    margin-left: auto;
    margin-top: 30px;
    font-size: 14px;
    color: #3cb878;
}

.form-link:hover {
    text-decoration: underline;
}

.form-network {
    display: flex;
    justify-content: space-between;
}

.form-buttom-facebook {
    position: relative;
    margin-top: 15px;
    padding: 17px 17px 17px 62px;
    border-radius: 2px;
    background-color: #305db8;
    color: #fff;
}

.form-buttom-facebook::before {
    content: '';
    background-image: url('../img/icon-facebook.png');
    background-position: -10px -10px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    width: 10px;
    height: 20px;
    top: 15px;
    left: 18px;
}

.form-buttom-facebook::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 28px;
    top: 12px;
    left: 44px;
    background-color: rgba(80,80,80,0.5);
}

.form-buttom-google {
    position: relative;
    margin-top: 15px;
    padding: 17px 30px 17px 70px;
    border-radius: 2px;
    background-color: #df4a32;
    color: #fff;
}

.form-buttom-google::before {
    content: '';
    background-image: url('../img/icon-google.png');
    background-position: -5px -5px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    width: 25px;
    height: 16px;
    top: 17px;
    left: 12px;
}

.form-buttom-google::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 28px;
    top: 12px;
    left: 44px;
    background-color: rgba(80,80,80,0.5);
}

.form-text {
    position: relative;
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #6d7982;
}

.form-text::before {
    content: '';
    position: absolute;
    width: 135px;
    height: 1px;
    top: 7px;
    left: 0;
    background-color: rgba(80,80,80,0.5);
}

.form-text::after {
    content: '';
    position: absolute;
    width: 135px;
    height: 1px;
    top: 7px;
    right: 0;
    background-color: rgba(80,80,80,0.5);
}

#nameField {
    width: 100%;
    margin-top: 18px;
    padding: 15px 0 15px 15px;
    box-sizing: border-box;
    font-size: 14px;
    opacity: 0.5;
}

#nameField:focus {
    font-weight: bold;
    box-shadow: 0 6px 19px 0 rgba(0,0,0,0.25);
    outline: none;
    border: none;
}

#secondNameField {
    width: 100%;
    margin-top: 9px;
    padding: 15px 0 15px 15px;
    box-sizing: border-box;
    font-size: 14px;
    opacity: 0.5;
}

#secondNameField:focus {
    font-weight: bold;
    box-shadow: 0 6px 19px 0 rgba(0,0,0,0.25);
    outline: none;
    border: none;
}

#emailField {
    width: 100%;
    margin-top: 9px;
    padding: 15px 0 15px 15px;
    box-sizing: border-box;
    font-size: 14px;
    opacity: 0.5;
}

#emailField:focus {
    font-weight: bold;
    box-shadow: 0 6px 19px 0 rgba(0,0,0,0.25);
    outline: none;
    border: none;
}

#choosePasswordField {
    width: 100%;
    margin-top: 9px;
    padding: 15px 0 15px 15px;
    box-sizing: border-box;
    font-size: 14px;
    opacity: 0.5;
}

#choosePasswordField:focus {
    font-weight: bold;
    box-shadow: 0 6px 19px 0 rgba(0,0,0,0.25);
    outline: none;
    border: none;
}

#confirmPasswordField {
    width: 100%;
    margin-top: 9px;
    padding: 15px 0 15px 15px;
    box-sizing: border-box;
    font-size: 14px;
    opacity: 0.5;
}

#confirmPasswordField:focus {
    font-weight: bold;
    box-shadow: 0 6px 19px 0 rgba(0,0,0,0.25);
    outline: none;
    border: none;
}

.checkbox:checked,
.checkbox:not(:checked) {
    position: absolute;
    left: -9999px;
}

.checkbox:checked + .checkbox-label,
.checkbox:not(:checked) + .checkbox-label {
    display: inline-block;
    position: relative;
    margin-top: 22px;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
    font-size: 14px;
}

.checkbox:checked + .checkbox-label:before,
.checkbox:not(:checked) + .checkbox-label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    background-color: #ffffff;
}

.checkbox:checked + .checkbox-label:after,
.checkbox:not(:checked) + .checkbox-label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.checkbox:checked + .checkbox-label:after,
.checkbox:not(:checked) + .checkbox-label:after {
    left: 3px;
    top: 4px;
    width: 8px;
    height: 3px;
    border-radius: 1px;
    border-left: 4px solid #3cb878;
    border-bottom: 4px solid #3cb878;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox:not(:checked) + .checkbox-label:after {
    opacity: 0;
}

.checkbox:checked + .checkbox-label:after {
    opacity: 1;
}

.form-checkbox-greentext {
    color: #3cb878;
    cursor: pointer;
}

.form-checkbox-greentext:hover {
    text-decoration: underline;
}

 .form-button-create {
     width: 100%;
     margin-top: 25px;
     padding: 17px;
     border: none;
     border-radius: 3px;
     outline: none;
     font-size: 16px;
     background-color: #3cb878;
     color: #fff;
     cursor: pointer;
 }















