html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    overflow-y: auto;
}

div[class*=wrapper] {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
div[class*=loader] {
    position: relative;
    width: 200px;
    height: 200px;
}
/*
=======================
   Circle Preloader
=======================
*/
.second-wrapper {
    display: none;
    background: linear-gradient(180deg, #141703c4, #000);
}

.circle-loader {
    position: relative;
}

.circle {
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-top: 3px solid #000;
    border-bottom: 3px solid transparent;
    border-left:  3px solid #e0a800;
    border-right: 3px solid transparent;
    animation: animate 2s infinite;
}

.circle_one {
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
}

.circle_two {
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    animation-delay: 0.2s;
}

.circle_three {
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    animation-delay: 0.4s;
}

.circle_four {
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    animation-delay: 0.6s;
}

@keyframes animate {
    50% { transform: rotate(360deg) scale(0.8); }
}