.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-wrapper {
    margin: 10px;
    padding: 40px 60px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.field {
    border-spacing: 1px;
    border: 2px solid brown;
    padding: 5px;
}

.field-cell {
    box-sizing: border-box;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.game-level-settings {
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.score-section-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.score-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.score-title {
    font-weight: bold;
}

.score-value {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#btn-game-start {
    padding: 10px;
    font-weight: bold;
    margin: 30px 0;
}

.field-cell.blue {
    background-color: blue;
}

.field-cell.green {
    background-color: green;
}

.field-cell.red {
    background-color: red;
}

.chosen {
    background-color: blue;
    color: white;
}

.btn {
    cursor: pointer;
    outline: none;
}

#create-game-btn {
    padding: 10px;
    background-color: orange;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.hidden {
    display: none;
}

.game-input {
    width: 100px;
    text-align: center;
}

.game-setup {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
}
