.container {
    width: 1280px;
    margin: 0 auto;
}

.title {
    display: inline-block;
    margin: 50px 0 45px;
    font-family: sans-serif;
    font-size: 80px;
    text-decoration: none;
    color: #000000;
}

.title-color {
    color: #4BCAFF;
}

.navbar {
    background-color: #35444F;
    text-align: center;
}

.navbar-menu {
    display: inline-block;
    font-size: 24px;
    padding: 25px 40px;
}

.navbar li:hover {
    background-color: #222F3A;
    transition: .5s;
}
.navbar-menu-item {
    text-decoration: none;
    color: #fff;
}
.vertical-navbar {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    width: 344px;
    border: 1px solid #35444f;
}

.vertical-navbar-item {
    display: block;
    list-style-type: none;
    font-size: 28px;
    padding: 25px 40px 30px;
    text-decoration: none;
    font-family: sans-serif;
    color: #6d7982;

}

.vertical-navbar a:hover {
    background-color: #dbdbdb;
    color: #000;
    padding-left: 60px;
    transition: .5s;
}

.content {
    padding: 150px 270px;
    margin-top: 50px;
    margin-left: 48px;
    display: inline-block;
    border: 1px solid #35444f;
}

.content-picture {
    display: block;
    margin: 0 auto;
}

.content img:hover{
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.content-text {
    display: inline-block;
    margin: 50px 40px 50px 470px
}

.text {
    font-family: sans-serif;
    line-height: 1.5;
    text-align: left;
    font-size: 18px;
    color: #484848;
}

footer {
    display: inline-block;
    width: 1280px;
    margin-bottom: 30px;
}

.footer-navbar {
    background-color: #b4b7ba;
    height: 78px;
}

.footer-navbar-item {
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 28px;
    margin: 25px 0 25px 40px;
    font-family: sans-serif;
}

.footer-navbar a:hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;
    transition: .5s;
}

.footer-navbar-text {
    font-size: 24px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 200px;
    font-family: sans-serif;
}

.ml-0 {
    margin-left: 10px;
}

