.focus {
    outline-color: green;
}

.invalid {
    border-color: red;
}
#error {
    color: red
}
.price-esc {
    border: 1px solid silver;
    color: silver;
    background-color: #fff;
    border-radius: 50%;
}