@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo-regular-webfont.eot');
    src: url('../fonts/arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arimo-regular-webfont.woff2') format('woff2'),
    url('../fonts/arimo-regular-webfont.woff') format('woff'),
    url('../fonts/arimo-regular-webfont.ttf') format('truetype'),
    url('../fonts/arimo-regular-webfont.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo-bold-webfont.eot');
    src: url('../fonts/arimo-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arimo-bold-webfont.woff2') format('woff2'),
    url('../fonts/arimo-bold-webfont.woff') format('woff'),
    url('../fonts/arimo-bold-webfont.ttf') format('truetype'),
    url('../fonts/arimo-bold-webfont.svg#arimobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

table {
    margin: 20px auto;
    border: 24px solid #3a4965;
    border-collapse: collapse;
}

thead {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    background: #e3e3e3;
    color: #484848;
}

tbody td{
    box-shadow: 1px 0 1px #cfcfcf, -1px 0 1px #cfcfcf;
}

tbody tr:nth-child(odd) {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    background: #f2f2f2;
    color: #484848;
}

tfoot {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

td {
    width: 277px;
    height: 69px;
    text-align: center;
    vertical-align: middle;
}

.thead-title {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    color: #484848;
}

.thead-subtitle {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #484848;
}

.thead-standart {
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    background-color: #89c331;
}

.thead-ultimate {
    text-transform: uppercase;
    font-size: 30px;
    background-color: #f04a56;
    color: #fff;
}

.thead-premium {
    text-transform: uppercase;
    font-size: 24px;
    background-color: #20807c;
    color: #fff;
}

.thead-boxshadow  {
    box-shadow: 1px 0 1px #cfcfcf, -1px 0 1px #cfcfcf;
}

.thead-text {
    display: inline-block;
    position: relative;
    padding: 18px;
    font-size: 50px;
    color: #484848;
}

.thead-subprice-period {
    position: absolute;
    top: 20px;
    font-size: 24px;
}

.thead-price-period {
     text-transform: uppercase;
     font-size: 18px;
     font-weight: normal;
}

.icon {
    padding-right: 12px;
    font-size: 20px;
    color: #848484;
}

.tfoot-bgc-gray {
    display: inline-block;
    margin: 30px auto;
    padding: 15px 45px 8px 45px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 4px;
    border-bottom: 7px solid #404040;
    color: #fff;
    background-color: #484848;
    transition: box-shadow 1s ease, color 1s ease;
}

.tfoot-bgc-gray:hover {
    box-shadow: inset 0 -3em #404040;
    color: #ffd700;
}

.tfoot-bgc-green {
    display: inline-block;
    margin: 30px auto;
    padding: 15px 57px 8px 57px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 4px;
    border-bottom: 7px solid #79b027;
    background-color: #89c331;
    color: #fff;
    transition: box-shadow 1s ease, color 1s ease;
}

.tfoot-bgc-green:hover {
    box-shadow: inset 0 -3em #79b027;
    color: #00ff7f;
}

.tfoot-bgc-red {
    display: inline-block;
    margin: 30px auto;
    padding: 15px 57px 8px 57px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 4px;
    border-bottom: 7px solid #df3a46;
    color: #fff;
    background-color: #f04a56;
    transition: box-shadow 1s ease, color 1s ease;
}

.tfoot-bgc-red:hover {
    box-shadow: inset 0 -3em #df3a46;
    color: #ffff00;
}

.tfoot-bgc-teal {
    display: inline-block;
    margin: 30px auto;
    padding: 15px 57px 8px 57px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 4px;
    border-bottom: 7px solid #16736f;
    color: #fff;
    background-color: #20807c;
    transition: box-shadow 1s ease, color 1s ease;
}

.tfoot-bgc-teal:hover {
    box-shadow: inset 0 -3em #16736f;
    color: #00ffff;
}

.tfoot-boxshadow {
    box-shadow: 1px 0 1px #cfcfcf, -1px 0 1px #cfcfcf;
}

.tfoot-boxshadow:nth-child(1) {
    background-color: #dddddd;
}

.tfoot-boxshadow:nth-child(2) {
    background-color: #eeeeee;
}

.tfoot-boxshadow:nth-child(3) {
    background-color: #f4f4f4;
}

.tfoot-boxshadow:nth-child(4) {
    background-color: #eeeeee;
}