$fontLato: 'Lato', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;
$smWidth: 320px;
$mainColor: #acd8ad;
$marginChapter: 4px;
$h3Font: 27px;
$h4Font: 20px;

@mixin flex () {
  display: flex;
  justify-content: space-between;
}

@mixin chapterTitle () {
  display: inline-block;
  font-size: 20px;
  font-family: $fontLato;
  color: #fff;
}

@mixin chapterLink () {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 71px;
  background-color: $mainColor;
}

@mixin linkBefore () {
  content: '';
  width: 7px;
  height: 7px;
  border-top: 1.5px solid #fff;
  border-right: 1.5px solid #fff;
  display: inline-block;
  transform: rotate(45deg);
}