@import "reset";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat&display=swap');
@import "functional";

.header {
  min-width: $smWidth;
  margin-bottom: $marginChapter;
  background-color: #373c3f;
  &__navbar {
    @include flex;
    background-color: #373c3f;
    &-title {
      display: inline-block;
      padding: 11px 0 10px 18px;
      font-size: 13px;
      font-family: $fontMontserrat;
      color: #fff;
      letter-spacing: 0.5px;
    }
    &-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 18px 20px;
      background-color: #202529;
      cursor: pointer;
      & span {
        display: block;
        position: absolute;
        width: 15px;
        height: 2px;
        background-color: #fff;
        transition: .5s ease-in-out;
        &:nth-child(1) {
          top: 12px;
          right: 13px;
        }
        &:nth-child(2) {
          top: 16px;
          right: 13px;
        }
        &:nth-child(3) {
          top: 20px;
          right: 13px;
        }
      }
      &.open {
        & span {
          &:nth-child(1) {
            top: 16px;
            right: 13px;
            transform: rotate(135deg);
          }
          &:nth-child(2) {
            opacity: 0;
            right: -100px;
          }
          &:nth-child(3) {
            top: 16px;
            transform: rotate(-135deg);
          }
        }
      }
    }
    &-list {
      display: none;
      position: absolute;
      top: 36px;
      right: 0;
    }
    &--link {
      padding: 8px 96px 8px 12px;
      background-color: #f5f5f5;
      box-shadow: 0 -1px 1px 0px #0000001f;;
      & a {
        text-decoration: none;
        font-family: $fontLato;
        font-size: 12px;
        letter-spacing: 0.3px;
        color: #505050;
      }
    }
    &-logo {
      display: none;
    }
  }
  &__main {
    background-image: url('../img/header-normal.png');
    background-size: cover;
    &-name {

      &--title {
        padding: 18px 0 0 22px;
        letter-spacing: 0.2px;
        font-size: 14px;
        font-family: $fontLato;
        font-weight: 700;
        color: #fff;
      }
      &--subtitle {
        padding: 10px 0 0 22px;
        letter-spacing: 0.2px;
        font-size: 14px;
        font-family: $fontLato;
        font-weight: 700;
        color: #fff;

      }
      & a {
        display: inline-block;
        padding: 11px 0 93px 20px;
        text-decoration: none;
        font-size: 14px;
        font-family: $fontLato;
        font-weight: 700;
        color: #94bdc5;
      }
    }
  }
}

.chapter {
  min-width: $smWidth;
  &__pizza {
    display: flex;
    margin-bottom: 2px;
    background-image: url('../img/pizza.png');
    background-size: cover;
    width: 100%;
    background-position: -65px 87px;

    &-title {
      @include chapterTitle;
      margin: 28px auto;
    }

    &-link {
      @include chapterLink;

      &:before {
        @include linkBefore;
      }
    }
  }

  &__salads {
    display: flex;
    margin-bottom: 2px;
    background-image: url('../img/salad-normal.png');
    width: 100%;
    background-size: cover;
    background-position: -41px 97px;

    &-title {
      @include chapterTitle;
      margin: 28px auto;
    }

    &-link {
      @include chapterLink;

      &:before {
        @include linkBefore;
      }
    }

  }

  &__dessert {
    display: flex;
    background-image: url('../img/dessert-normal.png');
    width: 100%;
    background-size: cover;
    background-position: -26px 279px;
    &-title {
      @include chapterTitle;
      margin: 28px auto;
    }
    &-link {
      @include chapterLink;
      &:before {
        @include linkBefore;
      }
    }
  }
}

.menu {
  min-width: $smWidth;
  &__name {
    &-title {
      padding-top: 24px;
      padding-left: 7px;
      font-family: $fontLato;
      font-size: 19px;
      text-transform: uppercase;
      color: #3f4043;
    }
    &-subtitle {
      padding: 5px 0 9px 7px;
      font-family: $fontLato;
      font-size: 9px;
      letter-spacing: 0.5px;
      color: #d2d3d5;
    }
    &-image {
      display: none;
    }
  }
  &__part {
    margin-bottom: 40px;
    &-first {
      &--title {
        padding: 10px 0 7px 19px;
        margin-bottom: 16px;
        text-transform: uppercase;
        font-family: $fontLato;
        font-size: 20px;
        background-color: #3f4043;
        color: $mainColor;
      }
      &--subtitle {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        & h2 {
          padding-top: 5px;
          padding-left: 19px;
          text-transform: uppercase;
          font-family: $fontLato;
          font-size: 14px;
          color: #3f4043;
        }
        & i {
          padding-right: 19px;
          font-size: 26px;
          color: $mainColor;
        }
      }
      &--nomination {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
        & h4 {
          padding-left: 17px;
          padding-bottom: 4px;
          font-size: 14px;
          font-family: $fontLato;
          color: #3f4043;
        }
        & span {
          padding-right: 17px;
          font-size: 14px;
          font-family: $fontLato;
          font-weight: 700;
          color: #3f4043;
        }
        & p {
          padding: 0 17px;
          font-size: 9px;
          line-height: 10px;
          font-family: $fontLato;
          color: #3f4043;
        }
        &:nth-child(6) {
          margin-bottom: 50px;
        }
      }
    }
    &-second {
      margin-top: 30px;
      &--title {
        padding: 12px 0 11px 19px;
        margin-bottom: 16px;
        text-transform: uppercase;
        font-family: $fontLato;
        font-size: 20px;
        background-color: $mainColor;
        color: #fff;
      }
      &--subtitle {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        & h2 {
          padding-top: 5px;
          padding-left: 19px;
          text-transform: uppercase;
          font-family: $fontLato;
          font-size: 18px;
          color: #3f4043;
        }
        & i {
          padding-right: 19px;
          font-size: 26px;
          color: $mainColor;
        }
      }
      &--nomination {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
        & h4 {
          padding-left: 17px;
          padding-bottom: 4px;
          font-size: 14px;
          font-family: $fontLato;
          color: #3f4043;
        }
        & span {
          padding-right: 17px;
          font-size: 14px;
          font-family: $fontLato;
          font-weight: 700;
          color: #3f4043;
        }
        & p {
          padding: 0 17px;
          font-size: 9px;
          line-height: 10px;
          font-family: $fontLato;
          color: #3f4043;
        }
        &:nth-child(6) {
          margin-bottom: 50px;
        }
      }
    }
  }
}

.footer {
  min-width: $smWidth;
  background-color: $mainColor;
  &__image {
    display: none;
  }
  &__text {
    padding: 13px;
    & p {
      text-align: center;
      line-height: 19px;
      font-size: 14px;
      font-family: $fontMontserrat;
      color: #fff;
    }
  }
}

@media (min-width: 640px) {
  .header {
    &__navbar {
      &-title {
        padding: 25px 38px;
        font-size: 24px;
      }
      &-menu {
        padding: 37px;
        & span {
          width: 30px;
          height: 4px;
          &:nth-child(1) {
            top: 26px;
            right: 22px;
          }
          &:nth-child(2) {
            top: 34px;
            right: 22px;
          }
          &:nth-child(3) {
            top: 42px;
            right: 22px;
          }
        }
        &.open {
          & span {
            &:nth-child(1) {
              top: 34px;
              right: 22px;
            }
            &:nth-child(3) {
              top: 34px;

            }
          }
        }
      }
      &-list {
        top: 74px;
        & a {
          font-size: 16px;
        }
      }
      &--link {
        padding: 16px 130px 16px 16px;
      }
    }
    &__main {
      min-height: 346px;
      &-name {
        &--title {
          padding-top: 30px;
          padding-left: 38px;
          font-size: 36px;
        }
        &--subtitle {
          font-size: 36px;
          padding-left: 38px;
        }
        & a {
          padding-left: 38px;
          font-size: 24px;
        }
      }
    }
  }

  .chapter {
    &__pizza {
      background-position: 0 -450px;
      background-repeat: no-repeat;
      &-title {
        margin: 59px auto;
        font-size: 36px;
      }
      &-link {
        width: 142px;
        &:before {
          width: 14px;
          height: 14px;
          border-top: 2.5px solid #fff;
          border-right: 2.5px solid #fff;
        }
      }
    }
    &__salads {
      background-position: 0 -340px;
      background-repeat: no-repeat;
      &-title {
        margin: 59px auto;
        font-size: 36px;
      }
      &-link {
        width: 142px;
        &:before {
          width: 14px;
          height: 14px;
          border-top: 2.5px solid #fff;
          border-right: 2.5px solid #fff;
        }
      }
    }
    &__dessert {
      background-position: 0 -40px;
      background-repeat: no-repeat;
      &-title {
        margin: 59px auto;
        font-size: 36px;
      }
      &-link {
        width: 142px;
        &:before {
          width: 14px;
          height: 14px;
          border-top: 2.5px solid #fff;
          border-right: 2.5px solid #fff;
        }
      }
    }
  }
}

@media (min-width: 980px) {
  .header{
    &__navbar {
      &-title {
        display: none;
      }
      &-menu {
        display: none;
      }
      &-list {
        display: flex;
        position: relative;
        top: 0;
        background-color: #373c3f;
      }
      &--link {
        padding: 45px 30px;
        background-color: inherit;
        box-shadow: none;
        & a {
          color: #fff;
          font-size: 15px;
          text-transform: uppercase;
          letter-spacing: 0.5px;
        }
      }
      &-logo {
        display: block;
        height: 83px;
        margin-right: 30px;
        margin-top: 10px;
      }
    }
    &__main {
      min-height: 570px;
      &-name {
        &--title {
          padding-top: 64px;
          font-size: 54px;
        }
        &--subtitle {
          font-size: 54px;
        }
        & a {
          padding-top: 57px;
          padding-bottom: 260px;
          font-size: 34px;
        }
      }
    }
  }
  .chapter {
    display: flex;
    &__pizza {
      margin-bottom: 0;
      background-position: 0;
      &-title {
        margin: 145px auto;
        font-size: 38px;
      }
      &-link {
        display: none;
      }
    }
    &__salads {
      margin-bottom: 0;
      background-position: 0;
      &-title {
        margin: 145px auto;
        font-size: 38px;
      }
      &-link {
        display: none;
      }
    }
    &__dessert {
      background-position: 0;
      &-title {
        margin: 145px auto;
        font-size: 38px;
      }
      &-link {
        display: none;
      }
    }
  }
  .menu {
    &__name {
      margin: 45px 30px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-title {
        font-size: 28px;
        padding: 0;
      }
      &-subtitle {
        font-size: 16px;
        padding: 5px 0 9px;
      }
      &-image {
        display: block;
      }
    }
    &__part {
      display: flex;
      &-first {
        &--title {
          padding: 10px 0 10px 19px;
          font-size: 24px
        }
        &--subtitle {
          & h2 {
            font-size: 17px;
          }
          & i {
            font-size: 32px;
          }
        }
        &--nomination {
          & h4 {
            font-size: 20px;
          }
          & span {
            font-size: 20px;
          }
          & p {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
      &-second {
        margin-top: 0;
        &--title {
          padding: 10px 0 10px 19px;
          font-size: 24px;
        }
        &--subtitle {
          & h2 {
            font-size: 17px;
          }
          & i {
            font-size: 32px;
          }
        }
        &--nomination {
          & h4 {
            font-size: 20px;
          }
          & span {
            font-size: 20px;
          }
          & p {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    &__image {
      display: block;
    }
    &__text {
      display: flex;
      padding: 0;
      & p {
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .header__main-name {
    &--title{
      font-size: 62px;
    }
    &--subtitle {
      font-size: 62px;
    }
    & a {
      font-size: 38px;
    }
  }
  .chapter__pizza-title {
    font-size: 43px;
  }
  .chapter__salads-title {
    font-size: 43px;
  }
  .chapter__dessert-title {
    font-size: 43px;
  }
  .menu__part-first {
    &--title {
      font-size: 26px;
    }
    &--subtitle {
      & h2 {
        font-size: 20px;
      }
      & i {
        font-size: 36px;
      }
    }
    &--nomination {
      & h4 {
        font-size: 27px;
      }
      & span {
        font-size: 27px;
      }
      & p {
        font-size: 17px;
        line-height: 20px;
      }
    }
  }
  .menu__part-second {
    &--title {
      font-size: 26px;
    }
    &--subtitle {
      & h2 {
        font-size: 20px;
      }
      & i {
        font-size: 36px;
      }
    }
    &--nomination {
      & h4 {
        font-size: 27px;
      }
      & span {
        font-size: 27px;
      }
      & p {
        font-size: 17px;
        line-height: 20px;
      }
    }
  }
}