body {
  margin: 0;
  padding: 0;
}

a {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #16A085;
	letter-spacing: 1px;
}

.navbar {
  margin: 32px auto;
  padding: 0 20px;
  text-align: center;
}

li {
	display: inline-block;
  	width: 150px;
}

img {
	width: 100%;
}

.content {
	padding: 42px 100px 40px;
	background-color: #F5F6F7;
}

.content-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 22px;
	color: #373737;
	margin: 0 auto;
    padding-bottom: 26px;
	font-family: sans-serif;
	letter-spacing: 2px;
}

.text {
	background-color: #f5f6f7;
	color: #373737;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	font-family: sans-serif;
	letter-spacing: 2px;
}

.button {
	display: block;
	margin: 41px auto;
	width: 180px;
	padding: 20px 45px;
	border-radius: 2px;
	background-color: #16A085;
	text-transform: uppercase;
	color: #ffff;
	font-family: sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
}

.footer {
	text-align: right;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #373737;
	padding: 20px 76px;
	letter-spacing: 1px;
}
